---
import DashboardLayout from "@layouts/Dashboard.astro";
import Sidebar from "@components/sidebar.astro"
import DashboardContent from "@components/dashboardContent.astro";
import Navbar from "@components/navbar.astro";
export const prerender = false;
---

<DashboardLayout>
  <Navbar />
  <div class="flex">
    <Sidebar />
    <DashboardContent />
  </div>
</DashboardLayout>

<script type="module">
  document.addEventListener("DOMContentLoaded", async () => {
    if (sessionStorage.getItem("login_success") === "1") {
      sessionStorage.removeItem("login_success");

      const { notify } = await import("/src/libs/toast/client");
      notify.success("Login successful!");
    }
  });
</script>
