---
import ForgotPasswordLayout from "@layouts/forgotPassword.astro";
import { setupResetPasswordForm } from "@src/scripts/resetPassword";
---

<ForgotPasswordLayout>
  <form id="resetForm" class="w-full max-w-sm bg-white/40 backdrop-blur-xl border border-white/20 rounded-3xl shadow-[0_8px_32px_0_rgba(0,0,0,0.25)] p-8">
    <div class="mb-6 text-center font-bold text-xl">
        <h1>Restablecer contraseña</h1>
    </div>
    <div class="flex flex-col">
      <label for="email" class="text-sm font-medium text-gray-700">Email</label>
      <input id="email" name="email"  type="email" minlength="5"  maxlength="20"
        class="border p-2 pr-10 rounded-lg w-full border-gray-500 focus:bg-white focus:border-blue-500 outline-none" 
        placeholder="user@email.com"
        required
      />
      <span id="mensajeError" class="text-red-600 text-sm"></span>
    </div>
    <div>
      <button type="submit" class="mt-6 w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition-colors">
        Reset Password
      </button>
    </div>
  </form>

  <script type="module">
    import { setupResetPasswordForm } from "/src/scripts/resetPassword";
    setupResetPasswordForm();
  </script>
</ForgotPasswordLayout>
